<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/home" method="post">
      <label>Username</label>
        <input type="text" name="username" />
      </label>Password</label>
        <input type="password" name="password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
